{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include 'alerts.html' %}

<div class="container">
	<div class="row">
	{% include 'accounts/dashboard_base.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Your Password</strong>
		</header>
		<div class="card-body">

			<div class="row">
				<div class="col-md-12">
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                          <div class="row">
                            <div class="col-md-12">
                              <label for="add">Current Password</label>
                              <input type="password" name="current_password" class="form-control" required>
                            </div>
                          </div>

                          <div class="row" style="margin-top:15px;">
                            <div class="col-md-12">
                              <label for="add">Create Password</label>
                              <input type="password" name="new_password" class="form-control" required>
                            </div>
                          </div>

                          <div class="row" style="margin-top:15px;">
                            <div class="col-md-12">
                              <label for="add">Confirm New Password</label>
                              <input type="password" name="re_password" class="form-control" required>
                            </div>
                          </div>


                        <input type="submit" value="Submit" class="btn btn-outline-success" style="margin-top: 20px;">
                    </form>
				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}